@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #0492C2;
}
.list {
	display: inline-block;
	padding: 0.5em 1.0em;
	border-radius: 4px;
	background: #ffffff;
	font-family: sans-serif;
	font-size: 20px;
	box-shadow: 1px 2px rgba(240, 248, 255, 0.021);
	cursor: pointer;
	border: 1px solid;
	margin: 8px;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
}


.list:hover {
	background-color: #0492C2;
  }

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #0492C2;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #0492C2;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #0492C2;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease ;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #0492C2;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #0492C2;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}


.timeline ul {
	background: var(--color-grey-1);;
	padding: 50px 0;
  }
  
  .timeline ul li {
	list-style-type: none;
	position: relative;
	width: 5px;
	margin: 0 auto;
	padding-top: 50px;
	background:  rgb(31, 30, 30) ;
  }
  
  .timeline ul li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
	z-index: 1;
  }
  
  .timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #0492C2;
  }
  
  .timeline ul li div::before {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
	left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent rgb(31, 30, 30) transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
	left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent rgb(31, 30, 30) transparent transparent ;
  }
  
  time {
	display: block;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 8px;
	color: white;
  }
  
  
  
  .timeline ul li::after {
	transition:  0.5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
	background: #0492C2;
  }
  
  .timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
	transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
	transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
  }
  
  
  
  @media screen and (max-width: 900px) {
	.timeline ul li div {
	  width: 250px;
	}
	.timeline ul li:nth-child(even) div {
	  left: -289px;
	}
  }
  
  @media screen and (max-width: 600px) {
	.timeline ul li {
	  margin-left: 20px;
	}
	.timeline ul li div {
	  width: calc(100vw - 91px);
	}
	.timeline ul li:nth-child(even) div {
	  left: 45px;
	}
	.timeline ul li:nth-child(even) div::before {
	  left: -15px;
	  border-width: 8px 16px 8px 0;
	  border-color: transparent rgb(31, 30, 30) transparent transparent;
	}
  }
  
  

  .timeline-clippy ul li::after {
	width: 40px;
	height: 40px;
	border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
	bottom: 12px;
  }
  
  .timeline-star ul li::after {
	clip-path: polygon(
	  50% 0%,
	  61% 35%,
	  98% 35%,
	  68% 57%,
	  79% 91%,
	  50% 70%,
	  21% 91%,
	  32% 57%,
	  2% 35%,
	  39% 35%
	);
  }
  
  .timeline-heptagon ul li::after {
	clip-path: polygon(
	  50% 0%,
	  90% 20%,
	  100% 60%,
	  75% 100%,
	  25% 100%,
	  0% 60%,
	  10% 20%
	);
  }
  
  .timeline-infinite ul li::after {
	animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
	0% {
	  transform: translateX(-50%) scale(1);
	}
	50% {
	  transform: translateX(-50%) scale(1.25);
	}
	100% {
	  transform: translateX(-50%) scale(1);
	}
  }
  


/*About Section*/

#about .about {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

 .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
.col-right p {
	margin-bottom: 20px;
}
.col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}



/* End About Section */


/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 4rem;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
}
/* End Services Section */

/*Description Section*/
.description-container {
	flex-direction: column;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

.description-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	max-width:100%;
	height:auto;
	border: 2px solid black;
}

.timeline p {
	color: black;
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

.description-header {
	max-width: 500px;
	margin: 0 auto;
}

.description-img {
display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 100%; 
	height: auto; 
	object-fit: cover;
}

.description-container hr {
	border:none;
	border-top:3px dashed black;
	color:#fff;
	background-color:#fff;
	height:1px;
	width:30%;
	margin-top:40px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
  }

.sc-text {
	color: black;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.05rem;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.5cm;
}

.first-text{
	color: black;
	font-weight: bold;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	line-height: 2cm;
}
/*End of Description Section*/

/* Projects section */


#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-header h1 {
	margin-bottom: 50px;
	
}

.all-projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
	grid-gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.all-projects .projectItem {
	border: 5px solid #0000002c;
	background-size: cover;
	overflow: hidden;
	background-color: whitesmoke ;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease;
	max-width: 100%;
	
}

.all-projects .projectItem.hide {
	display:none
}

.all-projects .projectItem h4 {
	margin-top: 20px;
	color: black;
	max-width: 100%;
	font-size: 2.5rem;
	font-weight: bold 500;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.all-projects .projectItem h3 {
	margin-top: 10px;
	font-size: 1.5rem;
	font-weight: 200;
	margin-bottom: 3px;
	text-align: center;
}

.all-projects .projectItem img {
	width: 100%;
	height: auto;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor:pointer;
	transition: 0.4s ease;
}

.all-projects .projectItem img:hover {
	transform: scale(1.07);
}

.btn-signup {
	max-width: 100%;
	height: auto;
	background-color: #0492C2;
	color: white;
	font-size: 1.5rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold ;
	text-align: center;
	padding: 8px 5px;
	border-radius: 8px;
	cursor:pointer;
}

.btn-signup:active {
	transform: scale(0.95);
}


.btn-signup:hover{
	color: black;
	font-weight: bold ;
	background:-webkit-linear-gradient(rgb(228, 227, 223),#0492C2);	
	background:-moz-linear-gradient(rgb(228, 227, 223),(16, 44, 124, 0.863));
	background:linear-gradient(rgb(228, 227, 223),(16, 44, 124, 0.863));
}
  
/* End Projects section */


/* contact Section */

#contact .contact-header h1 {
	margin-bottom: 50px;
}

#contact .contact {
	margin-top: 10px;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}


#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}

/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #0492C2;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */


	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
